.follow-treatment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 840px; 
  min-height: 400px;
  margin: 0;
  padding: 30px;
  gap: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(15, 23, 42, 0.1);
  text-align: center;
}

.follow-treatment-wrapper h1 {
  font-size: 2.5rem; 
  color: #0f2b68;
  margin-bottom: 20px;
}

.ft-text {
  font-size: 1.1rem; 
  color: #0f172a;
  text-align: center;
  width: 80%; 
  margin: 0 auto 40px auto;
}

.ft-buttons {
  display: flex;
  gap: 40x;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-primary {
  gap: 20px;
  padding: 12px 24px;
  font-size: 1rem;
  min-width: 140px;
  border-radius: 14px !important;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  background-color: #0b1f4d;
  color: white;
}

.btn-primary:hover {
  background-color: #09183d;
  background: linear-gradient(90deg, #003366 0%, #004d99 100%);

}

.btn-secondary {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 600;
  border: none !important;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  color: #0f172a;
}

.btn-secondary:hover {
  background: rgb(146, 145, 145);
  text-decoration: underline;
  border-radius: 14px;
}

.ft-back {
  margin-top: 1.2rem;
}
