.form-wrapper {
  max-width: 600px;
  width: 90%;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(15, 23, 42, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-title {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 2px dashed #cbd5e1;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #f9fafb;
}

.file-input {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 6px;
  width: 100%;
}

.input-hidden {
  display: none;
}

.selected-file {
  text-align: center;
  margin: 1rem 0;
  padding: 10px;
  font-size: 1.2rem; 
  background-color: #f3f4f6;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
}

.actions-footer button {
  font-size: 1.4rem;
  padding: 10px 20px !important;
}

.divisor-fino {
  width: 90%;        
  max-width: 400px;  
  margin: 24px auto; 
  border: none;     
  height: 1px;       
  background-color: #e2e8f0; 
}

.btn-secondary {
  padding: 8px 14px !important;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 600;
  border: none !important;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  color: #0f172a;
}

.btn-secondary:hover {
  border-radius: 14px;
}